.material {
    display: inline-block;
    position: relative;
    border-width: 2px;
    border-style: solid;
}

.material.Junk {
    border-color: #aaa;
}

.material.Basic {
    border-color: #000;
}

.material.Fine {
    border-color: #62a4da;
}

.material.Masterwork {
    border-color: #1a9306;
}

.material.Rare {
    border-color: #fcd00b;
}

.material.Exotic {
    border-color: #ffa405;
}

.material.Ascended {
    border-color: #fb3e8d;
}

.material.Legendary {
    border-color: #4c139d;
}

.material .count {
    position: absolute;
    color: white;
    right: 5px;
    bottom: 0;
    text-shadow: 1px 1px 2px black, -1px 1px 2px black, 1px -1px 2px black, -1px -1px 2px black;
}

.material.disabled {
    opacity: 0.33;
}

.material .sellsFor {
    position: absolute;
    color: white;
    right: 0;
    left: 0;
    top: 0;
    text-shadow: 1px 1px 2px black, -1px 1px 2px black, 1px -1px 2px black, -1px -1px 2px black;
    font-size: 10px;
    background-color: rgba(255, 255, 255, 0.4);
}

.material .sellsFor img {
    width: 10px;
    height: 10px;
}

.material .icon {
    width: 64px;
    height: 64px;
}