.storage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.minimalPrice {
    display: inline-block;
    vertical-align: middle;
}

.options {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 1px 5px rgba(127, 127, 127, 0.5);
    background-color: white;
    padding: 5px 15px;
    z-index: 5;
}

.container {
    padding: 55px 15px 30px;
}

.accountName {
    vertical-align: middle;
}
